module local_local_login 1.0;

require {
    type local_login_t;
    type etc_t;
    type initrc_var_run_t;
    type nscd_var_run_t;
    type shadow_t;
    type var_run_t;
    class file { map getattr open read rename unlink };
    class dir { search add_name remove_name write };
    class sock_file { write };
}
allow local_login_t etc_t:file { map };
allow local_login_t initrc_var_run_t:dir { search };
allow local_login_t initrc_var_run_t:sock_file { write };
allow local_login_t nscd_var_run_t:file { map };
allow local_login_t shadow_t:file { map };
allow local_login_t var_run_t:dir { add_name remove_name write };
allow local_login_t var_run_t:file { getattr open read rename unlink };
