module local_avahi 1.0;

require {
    type avahi_t;
    type etc_t;
    type init_t;
    class file { map };
    class dbus { send_msg };
}
allow avahi_t etc_t:file { map };
allow avahi_t init_t:dbus { send_msg };

