module local_ftpd 1.0;

require {
    type ftpd_t;
    type etc_t;
    type init_t;
    type initrc_var_run_t;
    type nscd_t;
    type nscd_var_run_t;
    type user_home_t;
    type var_run_t;
    class file { map };
    class dbus { send_msg };
    class sock_file { write create setattr unlink };
    class nscd { shmemserv };
    class capability { net_admin };
    class process { execmem };
    class dir { search };
    class lnk_file { read };
}
allow ftpd_t etc_t:file { map };
allow ftpd_t init_t:dbus { send_msg };
allow ftpd_t initrc_var_run_t:sock_file { write };
allow ftpd_t nscd_t:nscd { shmemserv };
allow ftpd_t nscd_var_run_t:file { map };
allow ftpd_t self:capability { net_admin };
allow ftpd_t self:process { execmem };
allow ftpd_t user_home_t:dir { search };
allow ftpd_t user_home_t:lnk_file { read };
allow ftpd_t var_run_t:sock_file { create setattr unlink };

