module local_postgresql 1.0;

require {
    type postgresql_t;
    type hugetlbfs_t;
    type nscd_var_run_t;
    type postgresql_tmp_t;
    type user_home_t;
    class file { map };
    class lnk_file { read };
}
allow postgresql_t hugetlbfs_t:file { map };
allow postgresql_t nscd_var_run_t:file { map };
allow postgresql_t postgresql_tmp_t:file { map };
allow postgresql_t user_home_t:lnk_file { read };

