module local_collectd 1.0;

require {
    type collectd_t;
    type NetworkManager_t;
    type logwatch_t;
    type local_login_t;
    type accountsd_t;
    type apt_t;
    type audisp_t;
    type auditd_t;
    type avahi_t;
    type collectd_var_lib_t;
    type crond_t;
    type devicekit_disk_t;
    type dovecot_t;
    type dpkg_script_t;
    type dpkg_t;
    type entropyd_t;
    type exim_t;
    type ftpd_t;
    type getty_t;
    type gssd_t;
    type httpd_t;
    type init_t;
    type initrc_t;
    type kernel_t;
    type locate_t;
    type lvm_t;
    type modemmanager_t;
    type mysqld_t;
    type named_t;
    type nfsd_t;
    type nscd_t;
    type nscd_var_run_t;
    type nslcd_t;
    type ntpd_t;
    type openvpn_t;
    type pkcs_slotd_t;
    type policykit_t;
    type postgresql_t;
    type rpcbind_t;
    type rpcd_t;
    type snmpd_t;
    type squid_t;
    type sshd_t;
    type syslogd_t;
    type system_cronjob_t;
    type system_dbusd_t;
    type systemd_hostnamed_t;
    type systemd_logind_t;
    type udev_t;
    type unconfined_t;
    class dir { search };
    class file { getattr open read map };
    class capability { dac_override };
}
allow collectd_t NetworkManager_t:dir { search };
allow collectd_t NetworkManager_t:file { getattr open read };
allow collectd_t accountsd_t:dir { search };
allow collectd_t accountsd_t:file { getattr open read };
allow collectd_t apt_t:dir { search };
allow collectd_t apt_t:file { getattr open read };
allow collectd_t audisp_t:dir { search };
allow collectd_t audisp_t:file { getattr open read };
allow collectd_t auditd_t:dir { search };
allow collectd_t auditd_t:file { getattr open read };
allow collectd_t avahi_t:dir { search };
allow collectd_t avahi_t:file { getattr open read };
allow collectd_t collectd_var_lib_t:file { map };
allow collectd_t crond_t:dir { search };
allow collectd_t crond_t:file { getattr open read };
allow collectd_t devicekit_disk_t:dir { search };
allow collectd_t devicekit_disk_t:file { getattr open read };
allow collectd_t dovecot_t:dir { search };
allow collectd_t dovecot_t:file { getattr open read };
allow collectd_t dpkg_script_t:dir { search };
allow collectd_t dpkg_script_t:file { getattr open read };
allow collectd_t dpkg_t:dir { search };
allow collectd_t dpkg_t:file { getattr open read };
allow collectd_t entropyd_t:dir { search };
allow collectd_t entropyd_t:file { getattr open read };
allow collectd_t exim_t:dir { search };
allow collectd_t exim_t:file { getattr open read };
allow collectd_t ftpd_t:dir { search };
allow collectd_t ftpd_t:file { getattr open read };
allow collectd_t getty_t:dir { search };
allow collectd_t getty_t:file { getattr open read };
allow collectd_t gssd_t:dir { search };
allow collectd_t gssd_t:file { getattr open read };
allow collectd_t httpd_t:dir { search };
allow collectd_t httpd_t:file { getattr open read };
allow collectd_t init_t:dir { search };
allow collectd_t init_t:file { getattr open read };
allow collectd_t initrc_t:dir { search };
allow collectd_t initrc_t:file { getattr open read };
allow collectd_t kernel_t:dir { search };
allow collectd_t kernel_t:file { getattr open read };
allow collectd_t locate_t:dir { search };
allow collectd_t locate_t:file { getattr open read };
allow collectd_t lvm_t:dir { search };
allow collectd_t lvm_t:file { getattr open read };
allow collectd_t modemmanager_t:dir { search };
allow collectd_t modemmanager_t:file { getattr open read };
allow collectd_t mysqld_t:dir { search };
allow collectd_t mysqld_t:file { getattr open read };
allow collectd_t named_t:dir { search };
allow collectd_t named_t:file { getattr open read };
allow collectd_t nfsd_t:dir { search };
allow collectd_t nfsd_t:file { getattr open read };
allow collectd_t nscd_t:dir { search };
allow collectd_t nscd_t:file { getattr open read };
allow collectd_t nscd_var_run_t:file { map };
allow collectd_t nslcd_t:dir { search };
allow collectd_t nslcd_t:file { getattr open read };
allow collectd_t ntpd_t:dir { search };
allow collectd_t ntpd_t:file { getattr open read };
allow collectd_t openvpn_t:dir { search };
allow collectd_t openvpn_t:file { getattr open read };
allow collectd_t pkcs_slotd_t:dir { search };
allow collectd_t pkcs_slotd_t:file { getattr open read };
allow collectd_t policykit_t:dir { search };
allow collectd_t policykit_t:file { getattr open read };
allow collectd_t postgresql_t:dir { search };
allow collectd_t postgresql_t:file { getattr open read };
allow collectd_t rpcbind_t:dir { search };
allow collectd_t rpcbind_t:file { getattr open read };
allow collectd_t rpcd_t:dir { search };
allow collectd_t rpcd_t:file { getattr open read };
allow collectd_t self:capability { dac_override };
allow collectd_t snmpd_t:dir { search };
allow collectd_t snmpd_t:file { getattr open read };
allow collectd_t squid_t:dir { search };
allow collectd_t squid_t:file { getattr open read };
allow collectd_t sshd_t:dir { search };
allow collectd_t sshd_t:file { getattr open read };
allow collectd_t syslogd_t:dir { search };
allow collectd_t syslogd_t:file { getattr open read };
allow collectd_t system_cronjob_t:dir { search };
allow collectd_t system_cronjob_t:file { getattr open read };
allow collectd_t system_dbusd_t:dir { search };
allow collectd_t system_dbusd_t:file { getattr open read };
allow collectd_t systemd_hostnamed_t:dir { search };
allow collectd_t systemd_hostnamed_t:file { getattr open read };
allow collectd_t systemd_logind_t:dir { search };
allow collectd_t systemd_logind_t:file { getattr open read };
allow collectd_t udev_t:dir { search };
allow collectd_t udev_t:file { getattr open read };
allow collectd_t unconfined_t:dir { search };
allow collectd_t unconfined_t:file { getattr open read };
allow collectd_t logwatch_t:dir search;
allow collectd_t local_login_t:dir search;
allow collectd_t logwatch_t:file read;
