module local_system_cronjob 1.0;

require {
    type system_cronjob_t;
    type NetworkManager_unit_t;
    type alsa_etc_t;
    type apt_var_cache_t;
    type auditd_unit_t;
    type avahi_unit_t;
    type bluetooth_unit_t;
    type boot_t;
    type cron_log_t;
    type crond_unit_t;
    type cupsd_etc_t;
    type dbusd_unit_t;
    type default_t;
    type fonts_t;
    type games_data_t;
    type httpd_git_content_t;
    type httpd_unit_t;
    type init_t;
    type init_var_run_t;
    type initrc_var_run_t;
    type irqbalance_unit_t;
    type lastlog_t;
    type logrotate_unit_t;
    type lvm_unit_t;
    type man_t;
    type modules_dep_t;
    type modules_object_t;
    type nfsd_fs_t;
    type nfsd_unit_t;
    type nscd_t;
    type nscd_var_run_t;
    type pcscd_unit_t;
    type pkcs_slotd_unit_t;
    type policykit_unit_t;
    type policykit_var_lib_t;
    type power_unit_t;
    type pppd_unit_t;
    type rpcd_unit_t;
    type rtkit_daemon_unit_t;
    type shadow_t;
    type spamassassin_unit_t;
    type src_t;
    type sshd_unit_t;
    type sysctl_dev_t;
    type sysctl_irq_t;
    type sysctl_net_t;
    type syslogd_unit_t;
    type system_map_t;
    type systemd_backlight_unit_t;
    type systemd_binfmt_unit_t;
    type systemd_networkd_unit_t;
    type systemd_unit_t;
    type user_home_t;
    type var_lib_t;
    type xkb_var_lib_t;
    class file { open read map rename write ioctl getattr };
    class dbus { send_msg };
    class blk_file { getattr };
    class chr_file { getattr };
    class sock_file { write };
    class dir { read getattr open search };
    class nscd { admin };
    class netlink_netfilter_socket { bind create getattr read setopt write };
    class lnk_file { read };
}
allow system_cronjob_t NetworkManager_unit_t:file { open read };
allow system_cronjob_t alsa_etc_t:file { open read };
allow system_cronjob_t apt_var_cache_t:file { map };
allow system_cronjob_t auditd_unit_t:file { open read };
allow system_cronjob_t avahi_unit_t:file { open read };
allow system_cronjob_t bluetooth_unit_t:file { open read };
allow system_cronjob_t boot_t:file { open read };
allow system_cronjob_t cron_log_t:file { read rename write };
allow system_cronjob_t crond_unit_t:file { open read };
allow system_cronjob_t cupsd_etc_t:file { open read };
allow system_cronjob_t dbusd_unit_t:file { open read };
allow system_cronjob_t default_t:file { read };
allow system_cronjob_t fonts_t:file { open read };
allow system_cronjob_t games_data_t:file { open read };
allow system_cronjob_t httpd_git_content_t:file { open read };
allow system_cronjob_t httpd_unit_t:file { open read };
allow system_cronjob_t init_t:dbus { send_msg };
allow system_cronjob_t init_var_run_t:blk_file { getattr };
allow system_cronjob_t init_var_run_t:chr_file { getattr };
allow system_cronjob_t initrc_var_run_t:sock_file { write };
allow system_cronjob_t irqbalance_unit_t:file { open read };
allow system_cronjob_t lastlog_t:file { open read };
allow system_cronjob_t logrotate_unit_t:file { open read };
allow system_cronjob_t lvm_unit_t:file { open read };
allow system_cronjob_t man_t:file { open read };
allow system_cronjob_t modules_dep_t:file { open read };
allow system_cronjob_t modules_object_t:file { open read };
allow system_cronjob_t nfsd_fs_t:dir { read };
allow system_cronjob_t nfsd_unit_t:file { open read };
allow system_cronjob_t nscd_t:nscd { admin };
allow system_cronjob_t nscd_var_run_t:file { map };
allow system_cronjob_t pcscd_unit_t:file { open read };
allow system_cronjob_t pkcs_slotd_unit_t:file { open read };
allow system_cronjob_t policykit_unit_t:file { open read };
allow system_cronjob_t policykit_var_lib_t:file { open read };
allow system_cronjob_t power_unit_t:file { open read };
allow system_cronjob_t pppd_unit_t:file { open read };
allow system_cronjob_t rpcd_unit_t:file { open read };
allow system_cronjob_t rtkit_daemon_unit_t:file { open read };
allow system_cronjob_t self:netlink_netfilter_socket { bind create getattr read setopt write };
allow system_cronjob_t shadow_t:file { ioctl open read };
allow system_cronjob_t spamassassin_unit_t:file { open read };
allow system_cronjob_t src_t:file { open read };
allow system_cronjob_t sshd_unit_t:file { open read };
allow system_cronjob_t sysctl_dev_t:dir { getattr open read };
allow system_cronjob_t sysctl_dev_t:file { getattr };
allow system_cronjob_t sysctl_irq_t:dir { getattr open read };
allow system_cronjob_t sysctl_irq_t:file { getattr };
allow system_cronjob_t sysctl_net_t:dir { search };
allow system_cronjob_t sysctl_net_t:file { getattr open read };
allow system_cronjob_t syslogd_unit_t:file { open read };
allow system_cronjob_t system_map_t:file { open read };
allow system_cronjob_t systemd_backlight_unit_t:file { open read };
allow system_cronjob_t systemd_binfmt_unit_t:file { open read };
allow system_cronjob_t systemd_networkd_unit_t:file { open read };
allow system_cronjob_t systemd_unit_t:file { open read };
allow system_cronjob_t user_home_t:file { open read };
allow system_cronjob_t user_home_t:lnk_file { read };
allow system_cronjob_t var_lib_t:file { open read };
allow system_cronjob_t var_lib_t:lnk_file { read };
allow system_cronjob_t xkb_var_lib_t:file { open read };

